# Terraform files
*.tfstate
*.tfstate.*
*.tfplan
*.tfplan.*
.terraform/
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*.class
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# AWS
.aws/

# Docker
.dockerignore

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# Security reports
*-report.json
